@font-face {
    font-family: Inter;
    src: url(./fonts/Inter-Regular.woff2);
}

* {
    font-family: Inter, 'Arial Narrow Bold', sans-serif;
    margin: 0;
}

.img_holder {
    position: relative;
    height: 100vh;
    width: 35vw;
    background-color: blue;
}

img {
    height: 100%;
    width: 100%;
}

#logo {
    height: 3em;
    width: 3em;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

.content_holder {
    width: 70vw;
    height: 100vh;
    background-color: red;
    margin: 0vw calc((100vw - 70vw) / 2);
}

#title_block {
    background-color: black;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    top: 30%;
}

#title_content {
    width: 86%;
    margin: 0% calc((100% - 86%) / 2);
}

#title {
    text-align: right;
    color: white;
    font-size: 3em;
}